In [2]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [3]:
dic1 = {1:'sara',2:'leena',3:'hanoof'}

a = pd.Series(dic1)

## Q2: Change indexes to 11, 12, 13.

In [5]:
a.index = [11,12,13]

## Q3: Retrieve First and second elements.

In [6]:
print(a[11])
print(a[12])

sara
leena

## Q4: Add duplicate elements, then remove the duplication

In [11]:
a.append(pd.Series({11:'sara'}))

/var/folders/nh/w2dzt3d912bdv0869tm449_r0000gn/T/ipykernel_64093/365112048.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append(pd.Series({11:'sara'}))

11      sara
12     leena
13    hanoof
11      sara
dtype: object

In [12]:
a.drop_duplicates()

11      sara
12     leena
13    hanoof
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, age)

In [15]:
data={'ID':[1],'Name':['shatha'],'Age':[24]}
Dframe = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])

## Q6: Read educ_figdp_1_Data.csv file

In [16]:
file = pd.read_csv('educ_figdp_1_Data.csv')

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

In [17]:
file.loc[90:94, ['TIME', 'GEO']]

    TIME      GEO
90  2006  Belgium
91  2007  Belgium
92  2008  Belgium
93  2009  Belgium
94  2010  Belgium

In [18]:
print(file[10:14])

    TIME                            GEO  \
10  2010  European Union (28 countries)
11  2011  European Union (28 countries)
12  2000  European Union (27 countries)
13  2001  European Union (27 countries)

                                             INDIC_ED Value Flag and Footnotes
10  Total public expenditure on education as % of ...  5.41                  e
11  Total public expenditure on education as % of ...  5.25                  e
12  Total public expenditure on education as % of ...  4.91                  s
13  Total public expenditure on education as % of ...  4.99                  s